*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body{
    height: 4500px;
}

/* /////////////////////////////////////////////////////////////// */
/* /////////////////////////// HEADER //////////////////////////// */

.header{
    width: 100%;
    height: 50px;
    background-color: rgba(251, 80, 145, 0.5);
    top:0;
    position: fixed;
    z-index: 10;
}

.header-logo{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 12.5px;
    float: left;
    color: white;
}

.header-info{
    float: right;
    list-style: none;
    margin: 14px;
    margin-right: 15px;
}

.header-info div{
    display: inline;
    float: right;
    cursor: pointer;
}


.header-info li{
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-right: 30px;
    font-weight: bold;
    color: white;
}

.header-info p{
    position: relative;
}

.header-info p::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(162, 0, 70);
    left: 0;
    margin-top: 5px;
}

.header-info-blog{
    height: 30px;
}

.header-info-blog-dropdown div {
    visibility: hidden;
    position: absolute;
    width: 160px;
    height: 150px;
    top: 40px;
    margin-left: -80px;
    background-color: white;
    border-radius: 15px;
    z-index: 100;
    padding-left: 65px;
    cursor: default;
    box-shadow: 0px 0px 10px -5px rgb(0, 0, 0);
    opacity: 0;
    transition: 0.5s;
}

.header-info-blog-dropdown p{
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
    z-index: 11;
    margin-left: -50px;
    margin-top: 25px;
    cursor: pointer;
}

.header-info .header-info-blog .header-info-blog-dropdown span{
    position: relative;
}

.header-info .header-info-blog .header-info-blog-dropdown span::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(162, 0, 70);
    left: 0;
    margin-top: 5px;
    margin-left: -50px;
    z-index: 200;
}

.header-info .header-info-blog .header-info-blog-dropdown .a:hover span::after{
    width: 112px;
    transition: 0.5s;
}

.header-info .header-info-blog .header-info-blog-dropdown .b:hover span::after{
    width: 87px;
    transition: 0.5s;
}

.header-info .header-info-blog .header-info-blog-dropdown .c:hover span::after{
    width: 117px;
    transition: 0.5s;
}

.header-info-blog:hover .header-info-blog-dropdown div {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.header-info .header-info-contact:hover p::after{
    width: 86px;
    transition: 0.5s;
}

.header-info .header-info-blog:hover .header-info-underline::after{
    width: 35px;
    transition: 0.5s;
}

.header-info .header-info-team:hover p::after{
    width: 40px;
    transition: 0.5s;
}

.header-info .header-info-prices:hover p::after{
    width: 48px;
    transition: 0.5s;
}

.header-info .header-info-services:hover p::after{
    width: 64px;
    transition: 0.5s;
}

.header-info .header-info-portfolio:hover p::after{
    width: 65px;
    transition: 0.5s;
}

.header-info .header-info-about:hover p::after{
    width: 45px;
    transition: 0.5s;
}

.header-info .header-info-home:hover p::after{
    width: 42px;
    transition: 0.5s;
}

.header-search{
    height: 30px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.header-search-logo{
    size: 20px;
    margin-top: 7px;
    float: left;
    margin-left: 17px;
}

.header-input{
    height: 100%;
    width: 190px;
    border: none;
    float: right;
    margin-right: 15px;
}

input{
    border: none;
    outline: none;
}

/* ///////////////////////// END HEADER ////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
/* //////////////////////////// MAIN ///////////////////////////// */

.main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/main.jfif);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    position: relative;
}

.main-overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(150, 73, 107, 0.4);
    position: absolute;
}

.main-content{
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    margin-top: 260px;
}

.main-header{
    font-size: 70px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}

.main-p{
    color: rgb(217, 217, 217);
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 8px;
}

.main-content button{
    width: 130px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: white;
    font-size: 18px;
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -0.5px;
}

.main-content button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.main-content .main-button2{
    background-color: rgb(225, 87, 133);
    color: white;
}

/* ////////////////////////// END MAIN /////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// WELCOMES /////////////////////////// */

.welcome{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-top: 60px;
}

.welcome-header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.welcome-underline{
    height: 3px;
    width: 100px;
    margin: auto;
    background-color: palevioletred;
}

.welcome-sections{
    margin: auto;
    width: 80%;
    overflow: auto;
    margin-top: 150px;
}

.welcome-section1{
    width: 25%;
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(165, 42, 81);
    float: left;
    margin-left: 4%;
    margin-right: 4.25%;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.welcome-section2{
    width: 25%;
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(165, 42, 81);
    float: left;
    margin-left: 4%;
    margin-right: 4.25%;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.welcome-section3{
    width: 25%;
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(165, 42, 81);
    float: left;
    margin-left: 4%;
    margin-right: 4.25%;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.welcome-sections div i{
    font-size: 28px;
    color: palevioletred;
}

.welcome-sections div h2{
    text-transform: capitalize;
    margin-top: 10px;
}

.welcome-sections div p{
    text-transform: capitalize;
    color: gray;
    margin-top: 12px; 
}

.welcome-sections .welcome-read-more{
    color: palevioletred;
    cursor: pointer;
}

.welcome-overlay{
    position: relative;
    z-index: 1;
}

.welcome-overlay::before{
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: rgba(141, 11, 61, 0.4);
    margin: -21px;
    z-index: -1;
}

.welcome-section1:hover .welcome-overlay::before{
    width: 302px;
    height: 200px;
    transition: 1s;
}

.welcome-section1:hover p{
    color: black;
    transition: 1s;
}

.welcome-section1:hover .welcome-read-more{
    color: rgb(189, 34, 86);
    transition: 1s;
}

.welcome-section1:hover i{
    color: rgb(189, 34, 86);
    transition: 1s;
}

.welcome-section1:hover h2{
    color: white;
    transition: 1s;
}

.welcome-section2:hover .welcome-overlay::before{
    width: 302px;
    height: 200px;
    transition: 1s;
}

.welcome-section2:hover p{
    color: black;
    transition: 1s;
}

.welcome-section2:hover .welcome-read-more{
    color: rgb(189, 34, 86);
    transition: 1s;
}

.welcome-section2:hover i{
    color: rgb(189, 34, 86);
    transition: 1s;
}

.welcome-section2:hover h2{
    color: white;
    transition: 1s;
}

.welcome-section3:hover .welcome-overlay::before{
    width: 302px;
    height: 200px;
    transition: 1s;
}

.welcome-section3:hover p{
    color: black;
    transition: 1s;
}

.welcome-section3:hover .welcome-read-more{
    color: rgb(189, 34, 86);
    transition: 1s;
}

.welcome-section3:hover i{
    color: rgb(189, 34, 86);
    transition: 1s;
}

.welcome-section3:hover h2{
    color: white;
    transition: 1s;
}

/* //////////////////////// END WELCOMES ///////////////////////// */
/* /////////////////////////////////////////////////////////////// */
/* ////////////////////////// FEATURED /////////////////////////// */

.featured{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 233, 236);
    padding: 0 100px;
}

.featured-header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 40px;
}

.featured-underline{
    height: 3px;
    width: 100px;
    margin: auto;
    background-color: palevioletred;
}

.featured-container{
    width: 100%;
    height:500px;
    margin: 20px 0;
    position: relative;
    overflow: auto;
}

.featured-container-top{
    width: 80%;
    height: 50%;
    margin: auto;
    position: relative;
}

.featured-container-bottom{
    width: 80%;
    height: 50%;
    margin: auto;
    position: relative;
}

.featured-container-top div{
    height: 80%;
    margin-top: 2%;
    width: 25%;
    margin-right: 12.5%;
    display: inline;
    float: left;
}

.featured-container-top .featured-image3{
    margin-right: 0px;
}

.featured-container-bottom div{
    height: 80%;
    margin-top: 2%;
    width: 25%;
    margin-right: 12.5%;
    display: inline;
    float: left;
}

.featured-container-bottom .featured-image6{
    margin-right: 0px;
}

.featured-image1{
    background-image: url(../images/products2.jpg);
    background-position: center;
    background-size: cover;
    background-position-y: -10px;
}

.featured-image2{
    background-image: url(../images/products3.jpg);
    background-position: center;
    background-size: cover;
    background-position-y: -55px;
}

.featured-image3{
    background-image: url(../images/products6.jpg);
    background-position: center;
    background-size: cover;
}

.featured-image4{
    background-image: url(../images/products7.jfif);
    background-position: center;
    background-size: cover;
}

.featured-image5{
    background-image: url(../images/products8.jfif);
    background-position: center;
    background-size: cover;
    background-position-y: -10px;
}

.featured-image6{
    background-image: url(../images/products9.jfif);
    background-position: center;
    background-size: cover;
}

.featured-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 12, 73, 0.5);
    text-align: center;
    top: 0px;
    visibility: hidden;
}

.featured-overlay h2{
    padding-top: 35px;
    color: rgb(229, 229, 229);
    font-size: 30px;
    font-weight: bold;
}

.featured-overlay p{
    padding-top: 20px;
    color: rgb(255, 255, 255);
    
}

.featured-overlay i{
    margin-top: 20px;
    padding-top: 5px;
    background-color: white;
    color: gray;
    font-size: 20px;
    height: 27px;
    width: 32px;
    border-radius: 5px;
    cursor: pointer;
}

.featured-image1:hover .featured-overlay{
    visibility: visible;
}

.featured-image2:hover .featured-overlay{
    visibility: visible;
}

.featured-image3:hover .featured-overlay{
    visibility: visible;
}

.featured-image4:hover .featured-overlay{
    visibility: visible;
}

.featured-image5:hover .featured-overlay{
    visibility: visible;
}

.featured-image6:hover .featured-overlay{
    visibility: visible;
}

/* //////////////////////// END FEATURED ///////////////////////// */
/* /////////////////////////////////////////////////////////////// */
/* /////////////////////////// OFFER ///////////////////////////// */

.offer{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0 100px;
}

.offer-header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 40px;
}

.offer-underline{
    height: 3px;
    width: 100px;
    margin: auto;
    background-color: palevioletred;
}

.offer-container{
    width: 100%;
    height:500px;
    margin: 20px 0;
    position: relative;
    overflow: auto;
}

.offer-container-top{
    width: 100%;
    height: 50%;
    margin: auto;
    position: relative;
}

.offer-container-bottom{
    width: 100%;
    height: 50%;
    margin: auto;
    position: relative;
}

.offer-container-top div{
    height: 80%;
    margin-top: 2%;
    width: 25%;
    margin-right: 12.25%;
    display: inline;
    float: left;
}

.offer-container-top .offer3{
    margin-right: 0px;
}

.offer-container-bottom div{
    height: 80%;
    margin-top: 2%;
    width: 25%;
    margin-right: 12.25%;
    display: inline;
    float: left;
}

.offer-container-bottom .offer6{
    margin-right: 0px;
}

.offer-container div div{
    border: 2px solid palevioletred;
    border-radius: 15px;
}

.offer-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(158, 12, 73, 0.5);
    text-align: center;
    top: 0px;
    visibility: hidden;
    margin-left: -2px;
}

.offer-overlay i{
    margin-top: 20px;
    padding-top: 5px;
    background-color: white;
    color: gray;
    font-size: 20px;
    height: 27px;
    width: 32px;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
}

.offer-overlay h2{
    padding-top: 35px;
    color: rgb(229, 229, 229);
    font-size: 30px;
    font-weight: bold;
    display: inline;
}

.offer-overlay p{
    padding-top: 20px;
    color: rgb(255, 255, 255);
    
}

.offer1:hover .offer-overlay{
    visibility: visible;
}

.offer2:hover .offer-overlay{
    visibility: visible;
}

.offer3:hover .offer-overlay{
    visibility: visible;
}

.offer4:hover .offer-overlay{
    visibility: visible;
}

.offer5:hover .offer-overlay{
    visibility: visible;
}

.offer6:hover .offer-overlay{
    visibility: visible;
}